/* Basic reset and styling */
body, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh; /* Full height */
  width: 200px; /* Set a fixed width for the vertical navbar */

}

.navbar-logo img {
  height: 50px;
  margin-bottom: 20px;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: -20px;
}

.navbar-links p{
  margin-left: 20px;
  color: #ffffff;
  font-size: 25px;
  margin-top: 0px;
  font-weight: 200;
}

.LinkHome{
  text-decoration: none;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  width: 100%;
  padding: 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 4px;
}

.post-button,
.logout-button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #1DA1F2;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 10px;
}

.post-button:hover,
.logout-button:hover {
  background-color: #87CEEB;
}
