.tweet-form {
    max-width: 600px;
    padding: 2em;
    background-color: #000000;
  }
  
  .tweet-form textarea {
    width: 100%;
    font-size: 20px;
    font-family: Arial, sans-serif;
    resize: none;
    margin-bottom: 1em;
    border: none;
    color:rgb(255, 255, 255) ;
  }
  .tweet-form textarea:focus {
    border: none; 
    outline: none;
}
  .tweet-form input[type="file"] {
    display: block;
    margin-bottom: 1em;
  }
  
  .tweet-form button {
    background-color: #1da1f2;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tweet-form button:disabled {
    background-color: #a4d4f4;
    cursor: not-allowed;
  }
  
  .tweet-form button:hover:not(:disabled) {
    background-color: #0c85d0;
  }
  
  .tweet-form p.error {
    color: red;
    font-size: 14px;
    margin-top: 1em;
  }
  
.chooseFile{
  margin-top: 20px;
  
}